@model WebApp.Models.JobOffer

@{
    ViewData["Title"] = "Form";
}

<h2>Apply for: @Html.ActionLink(Model.JobTitle, "Details", "JobOffer", new { id = Model.Id })</h2>

@{var application = new JobApplication(); application.OfferId = Model.Id; }

@using (Html.BeginForm("SaveForm", "JobApplication"))
{
    @Html.HiddenFor(m => application.OfferId, new { @Value = Model.Id })
    <p>First Name</p>
    @Html.TextBoxFor(m => application.FirstName)
    <p>Last Name</p>
    @Html.TextBoxFor(m => application.LastName)
    <p>Contact Email</p>
    @Html.TextBoxFor(m => application.EmailAddress)
    <p>Contact Phone</p>
    @Html.TextBoxFor(m => application.PhoneNumber)
    <br />
    <br />
    <input type="submit" value="Submit application" />
}

