@model JobOffer
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.JobTitle</h2>
<div>
    <p>@Model.JobDescription</p>
    <p><b>Company: </b>@Model.Company.Name</p>
    <p><b>Location: </b>@Model.Location</p>
    <p><b>Salary: </b>@Model.SalaryFrom - @Model.SalaryTo PLN</p>
    <p><b>Created: </b>@Model.CreationDate.ToString()</p>
</div>
<div>
    <input type="button" name="applyButton" value="Apply Now" onclick="location.href='@Url.Action("Form", "JobApplication", new { id = Model.Id })'" />
    <input type="button" name="editButton" value="Edit" />
    <br>
    <input type="button" name="deleteButton" value="Delete" />
</div>
<hr/>
@if (Model.JobApplications.Count > 0)
{
    <table style="width:50%">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        @foreach (var m in Model.JobApplications)
        {
            <tr>
                <td>@m.FirstName @m.LastName</td>
                <td>@m.EmailAddress</td>
                <td>@m.PhoneNumber</td>
            </tr>
        }
    </table>
    <hr/>
}
<div>
    @Html.ActionLink("Return to job index", "Index", "JobOffer")
</div>
