@model List<JobOffer>

@{
    ViewData["Title"] = "Job Offer list";
}


<div class="table-title">
    <div class="row">
        <div class="col-sm-4 col-md-4 d-flex align-items-center py-2">
            <h3 class="font-weight-bold mb-0">
                Job Offer list
            </h3>
            <div>
                <span class="badge badge-pill badge-primary align-top">
                    @Model.Count
                </span>
            </div>
        </div>
        <div class="col-12 col-md-4 py-2">
            <div class="input-group search-input"
                 style="border-radius: 20px">
                <input name="searchBox"
                       id="searchBox"
                       type="text"
                       class="form-control"
                       placeholder="Search by offer title..."
                       aria-label="Search by offer title"
                       aria-describedby="button-search">
                <div class="input-group-append">
                    <button id="button-search"
                            class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 text-right py-2">
            <button class="btn btn-rounded btn-outline-primary" data-toggle="modal" name="addJobOffer" onclick="location.href='@Url.Action("AddJobOffer", "JobOffer")'">
                <i class="fas fa-plus pr-3"></i>
                Add Job Offer
            </button>
        </div>
    </div>
</div>


<div id="offer-div">

</div>

@*<table class="table table-hover" id="offer-table">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Company</th>
            <th>Location</th>
            <th>Created</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model.OrderBy(o => o.JobTitle))
        {
            <tr class="singleOffer">
                <td>
                    @Html.ActionLink(offer.JobTitle, "Details", new { id = offer.Id })
                </td>
                <td>@offer.Company.Name</td>
                <td>@offer.Location</td>
                <td>@offer.CreationDate.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("EditJobOffer", "JobOffer", new { id = offer.Id})"
                       class="text-primary">
                        <i class="fas fa-edit"
                           title="Edit"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>*@

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@*<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#button-search").click(function (e) {
            e.preventDefault();
            fetchAll();
            var searchText = $("#searchBox").val().toLowerCase();
            $(".singleOffer").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
    function fetchAll() {
        $.ajax({
            url: '/api/Paging',
            type: 'POST',
            //data: { pageNo: pageNo },
            dataType: 'json',
            success: function (data) {
                var $table = $('<table/>').addClass('table table-hover');
                var $header = $('<thead/>').html('<tr><th>Job Title</th><th>Company</th><th>Location</th><th>Created</th><th></th></tr>');
                $table.append($header);
                $.each(data, function (i, offer) {
                    var row = '<tr class="singleOffer">'
                    row += '<td>' + '<a href="/joboffer/Details/?id=' + offer.id + '">' + offer.jobTitle + '</a>' + '</td>';
                    row += '<td>' + offer.company + '</td>';
                    row += '<td>' + offer.location + '</td>';
                    row += '<td>' + offer.creationDate + '</td>';
                    row += '<td>' + '<a href="/joboffer/Details/?id=' + offer.id + '" class="text-primary"><i class="fas fa-edit"title="Edit"></i></a></td>';
                    row += '</tr>'
                    $table.append(row);
                });

                var $footer = $('<tr/>');
                var $footerTD = $('<td/>').attr('colspan', 4);
                $footer.append($footerTD);
                $table.append($footer);

                $('#offer-div').html($table);
            },
            error: function () {
                alert('Error! Please try again.');
            }
        });
    }
</script>*@

<script>
    var currentPage = 1;
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#button-search").click(function (e) {
            e.preventDefault();
            var searchText = $("#searchBox").val().toLowerCase();
            if (searchText.length > 0) {
                fetchSearch(searchText);
            }
            else {
                fetchData(1);
            }
        });
        fetchData(1);
    });
    function fetchData(pageNo) {
        currentPage = pageNo;
        $.ajax({
            url: '/api/Paging/' + pageNo,
            type: 'POST',
            data: { pageNo: pageNo },
            dataType: 'json',
            success: function (data) {
                var $table = $('<table/>').addClass('table table-hover');
                var $header = $('<thead/>').html('<tr><th>Job Title</th><th>Company</th><th>Location</th><th>Created</th><th></th></tr>');
                $table.append($header);
                $.each(data.offers, function (i, offer) {
                    var row = '<tr class="singleOffer">'
                    row += '<td>' + '<a href="/joboffer/Details/?id=' + offer.id + '">' + offer.jobTitle + '</a>' + '</td>';
                    row += '<td>' + offer.company.name + '</td>';
                    row += '<td>' + offer.location + '</td>';
                    row += '<td>' + offer.creationDate.replace("T", " ") + '</td>';
                    row += '<td>' + '<a href="/joboffer/Edit/?id=' + offer.id + '" class="text-primary"><i class="fas fa-edit"title="Edit"></i></a></td>';
                    row += '</tr>'
                    $table.append(row);
                });

                var totalPage = parseInt(data.totalPage);
                var $footer = $('<tr/>');
                var $footerTD = $('<td/>').attr('colspan', 4).addClass('footerContent');

                if (totalPage > 0) {
                    for (var i = 1; i <= totalPage; i++) {
                        var $page = $('<span/>');
                        $page.html((i == currentPage) ? "<button class='btn btn-primary' disabled>" + i + "</button>" : "<button class='btn btn-light' onclick='fetchData(" + i + ");'>" + i + "</button>");
                        $footerTD.append($page);
                    }
                    $footer.append($footerTD);
                }
                $table.append($footer);

                $('#offer-div').html($table);
            },
            error: function () {
                alert('Error! Please try again.');
            }
        });
    }
    function fetchSearch(searchText) {
        $.ajax({
            url: '/api/Paging/',
            type: 'GET',
            data: { searchText: searchText },
            dataType: 'json',
            success: function (data) {
                var $table = $('<table/>').addClass('table table-hover');
                var $header = $('<thead/>').html('<tr><th>Job Title</th><th>Company</th><th>Location</th><th>Created</th><th></th></tr>');
                $table.append($header);
                $.each(data, function (i, offer) {
                    var row = '<tr class="singleOffer">'
                    row += '<td>' + '<a href="/joboffer/Details/?id=' + offer.id + '">' + offer.jobTitle + '</a>' + '</td>';
                    row += '<td>' + offer.company.name + '</td>';
                    row += '<td>' + offer.location + '</td>';
                    row += '<td>' + offer.creationDate + '</td>';
                    row += '<td>' + '<a href="/joboffer/Edit/?id=' + offer.id + '" class="text-primary"><i class="fas fa-edit"title="Edit"></i></a></td>';
                    row += '</tr>'
                    $table.append(row);
                });

                $('#offer-div').html($table);
            },
            error: function () {
                alert('Error! Please try again.');
            }
        });
    }
</script>

<style>
    table {
        table-layout: fixed;
        width: 95%;
    }

    th, td {
        width: 23%;
        overflow: hidden;
    }

    td.footerContent span a {
        display: inline-block;
        padding: 3px 10px;
        background-color: chartreuse;
        margin-right: 4px;
        border: 1px solid #998787;
        cursor: pointer;
    }

    td.footerContent span a {
        text-decoration: none;
    }

    td.footerContent {
        text-align: right;
    }
</style>
